<!DOCTYPE html>

<html>
    <head>
        <body>
            <form action="aboutus">
                <input type="text" name="name" placeholder="Enter your Name">
                <button type="submit">Click</button>

            </form> 
            <h1>{{name}}<br>{{email}}</h1>
        </body>
    </head>
</html>